<div class="container">
  <br>
   <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="w3-button w3-green btn" href="#/third">Back</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="panel-group" id="accordion">
           
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse1">Ransom:Win32/Cerber</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">This ransomware can stop you from using your PC or accessing your data. It might ask you to pay money to a malicious hacker.</div>
                </div>
            </div>
           
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse2">Ransom:Win32/Locky</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">This threat uses an infected Microsoft Office file to download the ransomware onto your PC. It can arrive on your PC as spam email attachment, usually as a Word file (.doc).</div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#detail#collapse3">Ransom:Win32/Spora</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Notably, this ransomware has worm capability, which means that it can spread to other computers in the network. We have seen it being distributed via email either as a document with malicious macro codes or as an HTML application (HTA) packaged in a .zip file.</div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse4">Ransom:Win32/HydraCrypt</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">We have seen this threat distributed by exploit kits (Neutrino, Axpergle, and Exploit:Win32/CVE-2016-0034), and through URLs embedded in spam emails that points to malicious macro downloaders.</div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse5">Ransom:Win32/Critroni</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">This threat locks your files and stops you from using them. It then shows you a message that tells you to pay money to get access to your files again. It can be installed on your PC by Spammer:Win32/Tedroo or by exploit kits. </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse6">Ransom:Win32/Teerac</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">They can be installed on your PC by other malware, such as TrojanDownloader:O97M/Donoff, or as a spam email attachment.</div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/detail#collapse7">Ransom:Win32/Troldesh</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">Due to the encryption of the files, it can be practically impossible to reverse-engineer the encryption or “crack” the files without the original encryption key – which only the attackers will have access to.</div>
                </div>
            </div>
        </div>
    </div>
</div>








