<div class="container">
    <div class="marg row">
        <div class="col-md-4 col-md-offset-4">
            <div class="w3-card-4 bordered paded mircosoftColor">
                <div class="w3-container w3-center">
                    <h3 class="colorWhite">Ransomware Detector</h3>
                    <img src="images/main.png" alt="Avatar">
                    <h5></h5>
                    <br>
                    <a class="w3-button w3-green btn" href="#/second">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>
