<div class="container">
    <div class="marg row">
        <div class="col-md-4 col-md-offset-4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only"></span>
              </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 id="showIt" class="colorWhite"> >> Scanning Your System Please wait . . .</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="w3-button w3-green btn btn-lg" href="#/third" id="nextBtn" >Next</a>
        </div>
    </div>
</div>